<div class="page-header">
<h3>Your Parties</h3>
</div>

<h2>Host</h2>
    <a href="/parties" class="btn btn-lg btn-primary">Existing Party</a>
    <a href="/parties/new" class="btn btn-lg btn-success">New Party</a>
<h2>Guest</h2>
    <a href="/parties" class="btn btn-lg btn-warning">View Party Requests</a>
